<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My Website</title>
</head>
<body>
  <h1>Welcome to My Website</h1>
  <h1>Estudos</h1>

<% if @studies.present? %>
  <% @studies.each do |study| %>
    <div class="study">
      <h2><%= study.title %></h2>
      <p><strong>Info and Time:</strong> <%= study.info_and_time %></p>
      <p><strong>Where:</strong> <%= study.where %></p>
      <p><strong>Address:</strong> <%= study.address %></p>
      <p><strong>Organizer:</strong> <%= study.organizer %></p>
      <p><strong>Contact Info:</strong> <%= study.contact_info %></p>
    </div>
  <% end %>
<% else %>
  <p>No studies found.</p>
<% end %>


</body>
</html>
